@import "tailwindcss" source("../");

@theme {
    --color-dex-bg: #ffffff;
    --color-dex-fg: #e6e6e6;
    --color-dex-fg-light: #f5f5f5;
    --color-dex-fg-dark: #cccccc;
    --color-dex-text: #1a1a1a;
    --color-dex-text-muted: #757575;
    --color-dex-text-light: #a8a8a8;
    --color-dex-green: #32a612;
    --color-dex-green-hover: #2f9911;
    --color-dex-yellow: #ffcc3d;
    --color-dex-red: #f73d45;
    --color-dex-red-hover: #f8545c;
    --color-dex-gray: #3f4955;
    --color-dex-text-dark: #373737;
    --color-dex-checkbox-disabled: #5e6d7e;
    --color-dex-g6-arrow: #969596;
    --color-dex-g6-circle-normal: #DCDCDC;
    --color-dex-g7-arrow: #373737;
    --color-dex-g7-shape: #eeedee;

    --drop-shadow-ms: 0 1px 1px rgb(0 0 0 / 0.1);
    --drop-shadow-3xl: 0 0 30px rgba(0, 0, 0, 0.15);

    --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --scale-dscale: var(--dscale);
}

html,
body {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

* {
    -webkit-app-region: no-drag;
}

:root {
    --dscale: 50%;
}
