@import "tailwindcss" source("../");

@theme {
  --color-dex-bg: #ffffff;
  --color-dex-fg: #e6e6e6;
  --color-dex-fg-light: #f0f0f0;
  --color-dex-fg-dark: #cccccc;
  --color-dex-text: #1a1a1a;
  --color-dex-text-muted: #757575;
  --color-dex-text-light: #a8a8a8;
  --color-dex-green: #32a612;
  --color-dex-green-hover: #2f9911;
  --color-dex-yellow: #ffcc3d;
  --color-dex-red: #f73d45;
  --color-dex-red-hover: #f8545c;
  --color-dex-gray: #3f4955;
  --color-dex-text-dark: #373737;
  --color-dex-checkbox-disabled: #5e6d7e;
  --color-dex-g6-arrow: #969596;
  --color-dex-g6-circle-normal: #dcdcdc;
  --color-dex-g7-arrow: #373737;
  --color-dex-g7-shape: #eeedee;

  --drop-shadow-ms: 0 1px 1px rgb(0 0 0 / 0.1);
  --drop-shadow-3xl: 0 0 30px rgba(0, 0, 0, 0.15);

  --font-sans:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --transition-property-top: top;

  --scale-dscale: var(--dscale);
}

* {
  -webkit-app-region: no-drag;
  -webkit-user-drag: "none";
  -khtml-user-drag: "none";
  -moz-user-drag: "none";
  -o-user-drag: "none";
  user-drag: "none";
  transition:
    color 0.2s,
    background-color 0.2s,
    opacity 0.2s;
}

.draggabletopbar {
  -webkit-app-region: drag;
}

#checkbox-container:has(> label > input#checkbox:checked) > label {
  color: var(--color-dex-text);
}

#checkbox-container:has(> label > input#checkbox:checked:disabled) > label {
  color: var(--color-dex-text-muted);
}

html {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  min-height: calc(100% - 40px);
  height: calc(100% - 40px);
}

.checkcontainer:has(> label.labelcontainer > input.checkbox:checked) > label.checklabel {
  color: var(--color-dex-text);
}

.checkcontainer:has(> label.labelcontainer > input.checkbox:disabled) > label.checklabel {
  color: var(--color-dex-checkbox-disabled);
  cursor: not-allowed;
}

.checkcontainer:has(> label.labelcontainer > input.checkbox:disabled) > label.labelcontainer {
  color: var(--color-dex-checkbox-disabled);
  cursor: not-allowed;
}

:root {
  --dscale: 90%;
}

#dexcom {
  transition: scale 0.5s ease;
}

@media (max-height: 400px) {
  :root {
    --dscale: 50%;
  }
}

@media (max-width: 10000px) and (max-height: 500px) {
  :root {
    --dscale: 50%;
  }
}

@media (max-width: 1200px) {
  :root {
    --dscale: 80%;
  }
}

@media (max-width: 1200px) and (max-height: 500px) {
  :root {
    --dscale: 50%;
  }
}

@media (min-height: 500px) and (max-height: 600px) {
  :root {
    --dscale: 65%;
  }
}

@media (max-width: 1000px) {
  :root {
    --dscale: 65%;
  }
}

@media (max-width: 1000px) and (max-height: 500px) {
  :root {
    --dscale: 50%;
  }
}

@media (max-width: 500px) {
  :root {
    --dscale: 55%;
  }
}

@media (max-width: 500px) and (max-height: 500px) {
  :root {
    --dscale: 50%;
  }
}
